h1{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color:pink;
}

p{
  font-family: 'Poppins', sans-serif;  
  font-weight: normal;
  text-align: center;
}

.fas{
font-size: 70px;
}

